<img alt="demo"  class="article_image" id="mp-demo-image">
<div class="admin__field field field-load_template " data-ui-id="magedad-bannerslider-banner-edit-tab-banner-fieldset-element-form-field-load-template" style="">
                    <label class="label admin__field-label" for="banner_load_template" data-ui-id="magedad-bannerslider-banner-edit-tab-banner-fieldset-element-note-banner-label"><span></span></label>
            <div class="admin__field-control control">
                <div id="banner_load_template" class="control-value admin__field-value" style=""><button id="banner_load_template_btn" title="Load Template" type="button" class="action-default scalable" data-ui-id="widget-button-0">
	            <span>Load Template</span>
	           </button>
                </div>
            </div>
</div>