<?xml version="1.0"?>
<!--

-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <bannerslider>
            <module>
                <type>1</type>
            </module>
            <general>
                <enabled>1</enabled>
            </general>
            <bannerslider_design>
                <responsive>0</responsive>
                <autoWidth>0</autoWidth>
                <autoHeight>1</autoHeight>
                <loop>1</loop>
                <nav>0</nav>
                <dots>0</dots>
                <lazyLoad>0</lazyLoad>
                <autoplay>1</autoplay>
                <autoplayTimeout>5000</autoplayTimeout>
            </bannerslider_design>
        </bannerslider>
    </default>
</config>